:root {
	--background: #161720;
	--foreground: #171717;
	--template-spacing: 8px;
	--template-background-color: radial-gradient(at 50% 50%, hsla(0, 0%, 0%, 0.238), hsla(225, 31%, 5%, 0.748));
}

html,
body {
	font-family: Inter, sans-serif;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.5;
}

body {
	
	font-family: Arial, Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

a {
	color: inherit;
	text-decoration: none;
}

@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}
}